* {
  box-sizing:border-box;
}
body {
  padding: 0;
  margin: 1rem 0;
  overflow: hidden;
  background-color: #D3D3D3;
}
.game-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}